@font-face {
    font-family: "Gilroy";
    src: url(../fonts/gilroy-extrabold-webfont.woff) format("woff");
    src: url(../fonts/gilroy-extrabold-webfont.woff2) format("woff2"); 
    font-weight: bold;
}

@font-face {
    font-family: "Gilroylight";
    src: url(../fonts/gilroylight.woff) format('woff');
    src: url(../fonts/gilroylight.woff2) format('woff2');
    font-weight: normal;
}
 

@font-face{
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff) format("woff"),
  url(../fonts/OpenSans-Regular.woff2) format("woff2");
  font-weight: normal;
}    
   


body{
  margin:0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
}

a{
  text-decoration: none;
  color:black;
}
.main_logo{
  display: block;
  width: 163px;
  height: 36px;
  background: url(../img/logo.png); 
}

.main_logo:hover{
  display: block;
  width: 163px;
  height: 36px;
  background: url(../img/logo_hover.png); 
}
.main_logo:active{
  display: block;
  width: 163px;
  height: 36px;
  background: url(../img/logo_active.png); 
}
.main_header input:focus{
 
}
/*.search_line{
  display: block;
  width: 300px;
  height: 2px;
  background-color: black;*/

input[type="text"]{
  color: black;
} 


.main_header input{
  border:0px;
  color: #000000;
}

.main_header input:hover{
  border:0px;
  color: #887c50;
}
.main_header input:focus{
  color: #000000;
  border-bottom: 1px solid black;
}


.upper_navigation{
  font-size: 15px;
  line-height: 2px;
  color: rgb(0, 0, 0);
}
.user_navigation   {
  list-style: none;
  font-size: 18px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);  
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 1.333;
  list-style: none;
}

.drop_list{
  list-style: none;
  font-size: 15px;
  font-family: "Open Sans";
  line-height: 2.4;
  text-transform: none;
  letter-spacing: normal;
} 

.upper_navigation a,
.user_navigation a,
.gadgets a{
  color: rgb(0, 0, 0);
}

.upper_navigation a:hover,
.user_navigation a:hover{
  color: rgba(0, 0, 0, 0.6);
}

.upper_navigation a:active,
.user_navigation a:active{
  color:rgba(0, 0, 0, 0.302);
}
.gadgets{
  list-style: none;
}
.gadgets a{
  font-size: 18px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  line-height: 1.333;
  font-weight: bold;
  
}
.gadgets li:hover{
  background-color: #f0c52e;
}

.info{
   font-size: 48px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.021;
}

.description{
  font-size: 15px;
  font-family: "Open Sans";
  color: rgb(70, 70, 70);
  line-height: 2;
  text-align: left;
}

.partners{
  list-style-image: url(../img/marker.png);
  font-size: 16px;
  font-family: "Gilroy";
  color: rgb(0,0,0);
  line-height: 2;
}

.contact_info{
  font-size: 15px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 2;
}

.basement{
  background-color: #464646;
}

.footer_services{
  list-style: none;
}
.footer_services li a {
  font-size: 18px;
  font-family: "Gilroy";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.333;
  font-weight: bold;
}

.footer_services li a:hover{
  color: #b5b5b5;
}
.footer_services li a:active{
  color: #7e7e7e;
}


.footer_navigation{
  font-size: 15px;
  font-family: "Open Sans";
  color: #d3d3d3;
  line-height: 2.4;
}


/*Разметка каталога */

.headline{  
  font-size: 47px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.021;
   
}

.path li a{
  font-size: 14px;
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.302);
  line-height: 1.714;
}
.path{
  list-style: none; 
  font-size: 14px;
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.302);
  line-height: 1.714;
}

.options_name{
  font-size: 18px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.333;
}

.options{
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(0, 0, 0);
  line-height: 2.857;
}
.button_show{
  font-size: 18px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.goods_caption{
  font-size: 18px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.333;
}

.price{
  font-size: 16px;
  font-family: "Gilroylight";
  color: rgb(70, 70, 70);
  line-height: 1.5;  
}


/* Блоки со схематичными изображениями товаров*/

.block{ 
  width: 160px;
  height: 160px;  
  }

.block1{
  
  background:url(../img/popular-1.png) no-repeat;
  background-color: #f7e296;
  background-position: 50% 50%;
  }

.block2{ 
    background:url(../img/popular-2.png) no-repeat;
    background-color: #f7e296;
    background-position: 50% 50%;         
}

.block3{ 
    background:url(../img/popular-3.png) no-repeat;
    background-color: #f7e296;
    background-position: 50% 50%;         
}

.block4{ 
    background:url(../img/popular-4.png) no-repeat;
    background-color: #f7e296;
    background-position: 50% 50%;         
}

.block5{ 
    background:url(../img/popular-5.png) no-repeat;
    background-color: #f7e296;
    background-position: 50% 50%;         
}

.block6{ 
    background:url(../img/popular-6.png) no-repeat;
    background-color: #f7e296;
    background-position: 50% 50%;         
}


.goods_name{
  position:relative;
  top:165px;
  left:0px;  
}
.vr{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/vr_glasses.png) no-repeat 50% 33%,
              url(../img/goods_bg.png) no-repeat top left;
  background-color:white;    
}
.vr:hover{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/vr_glasses.png) no-repeat 50% 33%,
              url(../img/goods_bg_active.png) no-repeat top left;
  background-color:white;    
}
.vr:active{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/vr_glasses_active.png) no-repeat 50% 33%,
              url(../img/goods_bg_active.png) no-repeat top left;
  background-color:white; 
  color: #b2b2b2;   
}

.monopod{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/monopod.png) no-repeat 50% 33%,
              url(../img/goods_bg.png) no-repeat top left;
  background-color:white;    
}
.monopod:hover{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/monopod.png) no-repeat 50% 33%,
              url(../img/goods_bg_active.png) no-repeat top left;
  background-color:white;    
}
.monopod:active{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/monopod_active.png) no-repeat 50% 33%,
              url(../img/goods_bg_active.png) no-repeat top left;
  background-color:white; 
  color: #b2b2b2;   
}

.action_cam{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/action_cam.png) no-repeat 50% 33%,
              url(../img/goods_bg.png) no-repeat top left;
  background-color:white;    
}
.action_cam:hover{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/action_cam.png) no-repeat 50% 33%,
              url(../img/goods_bg_active.png) no-repeat top left;
  background-color:white;    
}
.action_cam:active{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/action_cam_active.png) no-repeat 50% 33%,
  url(../img/goods_bg_active.png) no-repeat top left;
  background-color:white; 
  color: #b2b2b2;   
}

.fitness{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/fitness.png) no-repeat 50% 33%,
              url(../img/goods_bg.png) no-repeat top left;
  background-color:white;    
}
.fitness:hover{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/fitness.png) no-repeat 50% 33%,
              url(../img/goods_bg_active.png) no-repeat top left;
  background-color:white;    
}
.fitness:active{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/fitness_active.png) no-repeat 50% 33%,
  url(../img/goods_bg_active.png) no-repeat top left;
  background-color:white; 
  color: #b2b2b2;   
}

.smart{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/smart.png) no-repeat 50% 33%,
              url(../img/goods_bg.png) no-repeat top left;
  background-color:white;    
}
.smart:hover{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/smart.png) no-repeat 50% 33%,
              url(../img/goods_bg_active.png) no-repeat top left;
  background-color:white;    
}
.smart:active{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/smart_active.png) no-repeat 50% 33%,
  url(../img/goods_bg_active.png) no-repeat top left;
  background-color:white; 
  color: #b2b2b2;   
}

.quad{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/quad.png) no-repeat 50% 33%,
              url(../img/goods_bg.png) no-repeat top left;
  background-color:white;    
}
.quad:hover{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/quad.png) no-repeat 50% 33%,
              url(../img/goods_bg_active.png) no-repeat top left;
  background-color:white;    
}
.quad:active{
  display: block;
  width: 160px;
  height: 215px;
  background: url(../img/quad_active.png) no-repeat 50% 33%,
  url(../img/goods_bg_active.png) no-repeat top left;
  background-color:white; 
  color: #b2b2b2;   
}

/*Логотипы партнеров*/

.dji{
  background: url(../img/dji.png) no-repeat;
  display: block;
  width: 260px;
  height: 100px; 
}
.dji:hover{
  opacity: 0.2; 
}

.sp{
  background: url(../img/SP_gadgets.png) no-repeat;
  display: block;
  width: 260px;
  height: 100px;
}
.sp:hover{
  opacity: 0.2;
}

.gopro{
  background: url(../img/gopro.png) no-repeat;
  display: block;
  width: 260px;
  height: 100px;
}
.gopro:hover{
 opacity: 0.2;
}

.vive{
  background: url(../img/vive.png) no-repeat;
  display: block;
  width: 260px;
  height: 100px;
}
.vive:hover{
 opacity: 0.2;
}

.partners_logo a span{
visibility: hidden;
}



 /*Иконки футера*/
.user_footer{  
background: url(../img/user_footer.png) no-repeat 0px 5px; 
display: block;
width: 50px; 
height: 20px; 
padding-left: 20px;
color:#b4b4b4;
}
.user_footer:hover{  
background: url(../img/user_footer_hover.png) no-repeat 0px 5px; 
width: 50px; 
height: 20px; 
padding-left: 20px;
color: #ffffff;
} 
.user_footer:active{  
background: url(../img/user_footer_active.png) no-repeat 0px 5px; 
width: 50px; 
height: 20px; 
padding-left: 20px;
color: #666666;
} 

.compare_footer{  
background: url(../img/compare_footer.png) no-repeat 0px 5px; 
display: block;
width: 50px; 
height: 20px; 
padding-left: 20px;
color:#b4b4b4;
}
.compare_footer:hover{  
background: url(../img/compare_footer_hover.png) no-repeat 0px 5px; 
width: 50px; 
height: 20px; 
padding-left: 20px;
color: #ffffff;
} 
.compare_footer:active{  
background: url(../img/compare_footer_active.png) no-repeat 0px 5px; 
width: 50px; 
height: 20px; 
padding-left: 20px;
color: #666666;
} 

.cart_footer{  
background: url(../img/cart_footer.png) no-repeat 0px 5px; 
display: block;
width: 50px; 
height: 20px; 
padding-left: 20px;
color:#b4b4b4;
}
.cart_footer:hover{  
background: url(../img/cart_footer_hover.png) no-repeat 0px 5px; 
width: 50px; 
height: 20px; 
padding-left: 20px;
color: #ffffff;
} 
.cart_footer:active{  
background: url(../img/cart_footer_active.png) no-repeat 0px 5px; 
width: 50px; 
height: 20px; 
padding-left: 20px;
color: #666666;
} 




.hide{
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
}




.HA_logo{
  background:url(../img/HA-logo.png) no-repeat;
  width: 27px;
  height: 35px; 
  display: block;
}
.HA_logo:hover { 
  opacity: 0.6;
}
.HA_logo:active { 
  opacity: 0.3; 
}

.twitter{
  background:url(../img/Twitter.png) no-repeat;
  opacity: 0.6;
  width: 32px;
  height: 32px; 
  display: block;
}
.twitter:hover { 
  opacity: 1;
}
.twitter:active { 
  opacity: 0.3;
}

.inst{
  background:url(../img/inst.png) no-repeat;
  opacity: 0.6;
  width: 32px;
  height: 32px; 
  display: block;
}
.inst:hover { 
  opacity: 1;
}
.inst:active { 
  opacity: 0.3;
}

.fb{
  background:url(../img/fb.png) no-repeat;
  opacity: 0.6;
  width: 32px;
  height: 32px; 
  display: block;
}
.fb:hover{
  opacity: 1;
}
.fb:active {  
  opacity: 0.3;
}





.display_none{
  display: none;
}

.direction:hover{
  color:#8d8d8d;
}
.direction:active{
  color:#f0f0f0;
}